---
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

const { href = "", children, class: className } = Astro.props;

const rawText = typeof children === "string" ? children.trim() : "";

type IconName =
	| "github"
	| "telegram"
	| "instagram"
	| "youtube"
	| "vk"
	| "whatsapp"
	| "linkedin"
	| "x"
	| "discord"
	| "tiktok"
	| "dribbble"
	| "behance"
	| "facebook";

type LinkView = {
	label: string;
	ariaLabel: string;
	ariaValue: string;
	icon: string;
	isExternal: boolean;
	social: IconName | null;
};

const socialSvgs: Partial<Record<IconName, string>> = {
	github: `<svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="1024" height="1024" fill="none"><path fill="#1b1f23" fill-rule="evenodd" d="M512 0C229.12 0 0 229.12 0 512c0 226.56 146.56 417.92 350.08 485.76 25.6 4.48 35.2-10.88 35.2-24.32 0-12.16-.64-52.48-.64-95.36-128.64 23.68-161.92-31.36-172.16-60.16-5.76-14.72-30.72-60.16-52.48-72.32-17.92-9.6-43.52-33.28-.64-33.92 40.32-.64 69.12 37.12 78.72 52.48 46.08 77.44 119.68 55.68 149.12 42.24 4.48-33.28 17.92-55.68 32.64-68.48-113.92-12.8-232.96-56.96-232.96-252.8 0-55.68 19.84-101.76 52.48-137.6-5.12-12.8-23.04-65.28 5.12-135.68 0 0 42.88-13.44 140.8 52.48 40.96-11.52 84.48-17.28 128-17.28s87.04 5.76 128 17.28c97.92-66.56 140.8-52.48 140.8-52.48 28.16 70.4 10.24 122.88 5.12 135.68 32.64 35.84 52.48 81.28 52.48 137.6 0 196.48-119.68 240-233.6 252.8 18.56 16 34.56 46.72 34.56 94.72 0 68.48-.64 123.52-.64 140.8 0 13.44 9.6 29.44 35.2 24.32C877.44 929.92 1024 737.92 1024 512 1024 229.12 794.88 0 512 0" clip-rule="evenodd"/></svg>`,
	telegram: `<svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg" width="256" height="256" preserveAspectRatio="xMidYMid"><defs><linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%"><stop offset="0%" stop-color="#2AABEE"/><stop offset="100%" stop-color="#229ED9"/></linearGradient></defs><path fill="url(#a)" d="M128 0C94.06 0 61.48 13.494 37.5 37.49A128.038 128.038 0 0 0 0 128c0 33.934 13.5 66.514 37.5 90.51C61.48 242.506 94.06 256 128 256s66.52-13.494 90.5-37.49c24-23.996 37.5-56.576 37.5-90.51 0-33.934-13.5-66.514-37.5-90.51C194.52 13.494 161.94 0 128 0Z"/><path fill="#FFF" d="M57.94 126.648c37.32-16.256 62.2-26.974 74.64-32.152 35.56-14.786 42.94-17.354 47.76-17.441 1.06-.017 3.42.245 4.96 1.49 1.28 1.05 1.64 2.47 1.82 3.467.16.996.38 3.266.2 5.038-1.92 20.24-10.26 69.356-14.5 92.026-1.78 9.592-5.32 12.808-8.74 13.122-7.44.684-13.08-4.912-20.28-9.63-11.26-7.386-17.62-11.982-28.56-19.188-12.64-8.328-4.44-12.906 2.76-20.386 1.88-1.958 34.64-31.748 35.26-34.45.08-.338.16-1.598-.6-2.262-.74-.666-1.84-.438-2.64-.258-1.14.256-19.12 12.152-54 35.686-5.1 3.508-9.72 5.218-13.88 5.128-4.56-.098-13.36-2.584-19.9-4.708-8-2.606-14.38-3.984-13.82-8.41.28-2.304 3.46-4.662 9.52-7.072Z"/></svg>`,
	instagram: `<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 264.583 264.583"><defs><radialGradient xlink:href="#a" id="f" cx="158.429" cy="578.088" r="52.352" fx="158.429" fy="578.088" gradientTransform="matrix(0 -4.03418 4.28018 0 -2332.227 942.236)" gradientUnits="userSpaceOnUse"/><radialGradient xlink:href="#b" id="g" cx="172.615" cy="600.692" r="65" fx="172.615" fy="600.692" gradientTransform="matrix(.67441 -1.16203 1.51283 .87801 -814.366 -47.835)" gradientUnits="userSpaceOnUse"/><radialGradient xlink:href="#c" id="h" cx="144.012" cy="51.337" r="67.081" fx="144.012" fy="51.337" gradientTransform="matrix(-2.3989 .67549 -.23008 -.81732 464.996 -26.404)" gradientUnits="userSpaceOnUse"/><radialGradient xlink:href="#d" id="e" cx="199.788" cy="628.438" r="52.352" fx="199.788" fy="628.438" gradientTransform="matrix(-3.10797 .87652 -.6315 -2.23914 1345.65 1374.198)" gradientUnits="userSpaceOnUse"/><linearGradient id="d"><stop offset="0" stop-color="#ff005f"/><stop offset="1" stop-color="#fc01d8"/></linearGradient><linearGradient id="c"><stop offset="0" stop-color="#780cff"/><stop offset="1" stop-color="#820bff" stop-opacity="0"/></linearGradient><linearGradient id="b"><stop offset="0" stop-color="#fc0"/><stop offset="1" stop-color="#fc0" stop-opacity="0"/></linearGradient><linearGradient id="a"><stop offset="0" stop-color="#fc0"/><stop offset=".124" stop-color="#fc0"/><stop offset=".567" stop-color="#fe4a05"/><stop offset=".694" stop-color="#ff0f3f"/><stop offset="1" stop-color="#fe0657" stop-opacity="0"/></linearGradient></defs><path fill="url(#e)" d="M204.15 18.143c-55.23 0-71.383.057-74.523.317-11.334.943-18.387 2.728-26.07 6.554-5.922 2.942-10.592 6.351-15.201 11.13-8.394 8.716-13.481 19.439-15.323 32.184-.895 6.188-1.156 7.45-1.209 39.056-.02 10.536 0 24.4 0 42.999 0 55.2.062 71.341.326 74.476.916 11.032 2.645 17.973 6.308 25.565 7 14.533 20.37 25.443 36.12 29.514 5.453 1.404 11.476 2.178 19.208 2.544 3.277.142 36.669.244 70.081.244 33.413 0 66.826-.04 70.02-.203 8.954-.422 14.153-1.12 19.901-2.606 15.852-4.09 28.977-14.838 36.12-29.575 3.591-7.409 5.412-14.614 6.236-25.07.18-2.28.255-38.626.255-74.924 0-36.304-.082-72.583-.26-74.863-.835-10.625-2.656-17.77-6.364-25.32-3.042-6.182-6.42-10.799-11.324-15.519-8.752-8.361-19.455-13.45-32.21-15.29-6.18-.894-7.41-1.158-39.033-1.213z" transform="translate(-71.816 -18.143)"/><path fill="url(#f)" d="M204.15 18.143c-55.23 0-71.383.057-74.523.317-11.334.943-18.387 2.728-26.07 6.554-5.922 2.942-10.592 6.351-15.201 11.13-8.394 8.716-13.481 19.439-15.323 32.184-.895 6.188-1.156 7.45-1.209 39.056-.02 10.536 0 24.4 0 42.999 0 55.2.062 71.341.326 74.476.916 11.032 2.645 17.973 6.308 25.565 7 14.533 20.37 25.443 36.12 29.514 5.453 1.404 11.476 2.178 19.208 2.544 3.277.142 36.669.244 70.081.244 33.413 0 66.826-.04 70.02-.203 8.954-.422 14.153-1.12 19.901-2.606 15.852-4.09 28.977-14.838 36.12-29.575 3.591-7.409 5.412-14.614 6.236-25.07.18-2.28.255-38.626.255-74.924 0-36.304-.082-72.583-.26-74.863-.835-10.625-2.656-17.77-6.364-25.32-3.042-6.182-6.42-10.799-11.324-15.519-8.752-8.361-19.455-13.45-32.21-15.29-6.18-.894-7.41-1.158-39.033-1.213z" transform="translate(-71.816 -18.143)"/><path fill="url(#g)" d="M204.15 18.143c-55.23 0-71.383.057-74.523.317-11.334.943-18.387 2.728-26.07 6.554-5.922 2.942-10.592 6.351-15.201 11.13-8.394 8.716-13.481 19.439-15.323 32.184-.895 6.188-1.156 7.45-1.209 39.056-.02 10.536 0 24.4 0 42.999 0 55.2.062 71.341.326 74.476.916 11.032 2.645 17.973 6.308 25.565 7 14.533 20.37 25.443 36.12 29.514 5.453 1.404 11.476 2.178 19.208 2.544 3.277.142 36.669.244 70.081.244 33.413 0 66.826-.04 70.02-.203 8.954-.422 14.153-1.12 19.901-2.606 15.852-4.09 28.977-14.838 36.12-29.575 3.591-7.409 5.412-14.614 6.236-25.07.18-2.28.255-38.626.255-74.924 0-36.304-.082-72.583-.26-74.863-.835-10.625-2.656-17.77-6.364-25.32-3.042-6.182-6.42-10.799-11.324-15.519-8.752-8.361-19.455-13.45-32.21-15.29-6.18-.894-7.41-1.158-39.033-1.213z" transform="translate(-71.816 -18.143)"/><path fill="url(#h)" d="M204.15 18.143c-55.23 0-71.383.057-74.523.317-11.334.943-18.387 2.728-26.07 6.554-5.922 2.942-10.592 6.351-15.201 11.13-8.394 8.716-13.481 19.439-15.323 32.184-.895 6.188-1.156 7.45-1.209 39.056-.02 10.536 0 24.4 0 42.999 0 55.2.062 71.341.326 74.476.916 11.032 2.645 17.973 6.308 25.565 7 14.533 20.37 25.443 36.12 29.514 5.453 1.404 11.476 2.178 19.208 2.544 3.277.142 36.669.244 70.081.244 33.413 0 66.826-.04 70.02-.203 8.954-.422 14.153-1.12 19.901-2.606 15.852-4.09 28.977-14.838 36.12-29.575 3.591-7.409 5.412-14.614 6.236-25.07.18-2.28.255-38.626.255-74.924 0-36.304-.082-72.583-.26-74.863-.835-10.625-2.656-17.77-6.364-25.32-3.042-6.182-6.42-10.799-11.324-15.519-8.752-8.361-19.455-13.45-32.21-15.29-6.18-.894-7.41-1.158-39.033-1.213z" transform="translate(-71.816 -18.143)"/><path fill="#fff" d="M132.345 33.973c-26.716 0-30.07.117-40.563.594-10.472.48-17.62 2.136-23.876 4.567-6.47 2.51-11.958 5.87-17.426 11.335-5.472 5.464-8.834 10.948-11.354 17.412-2.44 6.252-4.1 13.397-4.57 23.858-.47 10.486-.593 13.838-.593 40.535 0 26.697.119 30.037.594 40.522.482 10.465 2.14 17.609 4.57 23.859 2.515 6.465 5.876 11.95 11.346 17.414 5.466 5.468 10.955 8.834 17.42 11.345 6.26 2.431 13.41 4.088 23.881 4.567 10.493.477 13.844.594 40.559.594 26.719 0 30.061-.117 40.555-.594 10.472-.48 17.63-2.136 23.888-4.567 6.468-2.51 11.948-5.877 17.414-11.345 5.472-5.464 8.834-10.949 11.354-17.412 2.419-6.252 4.079-13.398 4.57-23.858.472-10.486.595-13.828.595-40.525s-.123-30.047-.594-40.533c-.492-10.465-2.152-17.608-4.57-23.858-2.521-6.466-5.883-11.95-11.355-17.414-5.472-5.468-10.944-8.827-17.42-11.335-6.271-2.431-13.424-4.088-23.897-4.567-10.493-.477-13.834-.594-40.558-.594zm-8.825 17.715c2.62-.004 5.542 0 8.825 0 26.266 0 29.38.094 39.752.565 9.591.438 14.797 2.04 18.264 3.385 4.591 1.782 7.864 3.912 11.305 7.352 3.443 3.44 5.575 6.717 7.362 11.305 1.346 3.46 2.951 8.663 3.388 18.247.47 10.363.573 13.475.573 39.71 0 26.233-.102 29.346-.573 39.709-.44 9.584-2.042 14.786-3.388 18.247-1.783 4.587-3.919 7.854-7.362 11.292-3.443 3.441-6.712 5.57-11.305 7.352-3.463 1.352-8.673 2.95-18.264 3.388-10.37.47-13.486.573-39.752.573-26.268 0-29.38-.102-39.751-.573-9.592-.443-14.797-2.044-18.267-3.39-4.59-1.781-7.87-3.911-11.313-7.352-3.443-3.44-5.574-6.709-7.362-11.298-1.346-3.461-2.95-8.663-3.387-18.247-.472-10.363-.566-13.476-.566-39.726s.094-29.347.566-39.71c.438-9.584 2.04-14.786 3.387-18.25 1.783-4.588 3.919-7.865 7.362-11.305 3.443-3.441 6.722-5.57 11.313-7.357 3.468-1.351 8.675-2.949 18.267-3.389 9.075-.41 12.592-.532 30.926-.553zm61.337 16.322c-6.518 0-11.805 5.277-11.805 11.792 0 6.512 5.287 11.796 11.805 11.796 6.517 0 11.804-5.284 11.804-11.796 0-6.513-5.287-11.796-11.805-11.796zm-52.512 13.782c-27.9 0-50.519 22.603-50.519 50.482 0 27.879 22.62 50.471 50.52 50.471s50.51-22.592 50.51-50.471c0-27.879-22.613-50.482-50.513-50.482zm0 17.715c18.11 0 32.792 14.67 32.792 32.767 0 18.096-14.683 32.767-32.792 32.767-18.11 0-32.791-14.671-32.791-32.767 0-18.098 14.68-32.767 32.791-32.767z"/></svg>`,
	youtube: `<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 180"><path fill="red" d="M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134Z"/><path fill="#FFF" d="m102.421 128.06 66.328-38.418-66.328-38.418z"/></svg>`,
	vk: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 256 256"><g clip-path="url(#prefix__a)"><mask id="prefix__a" width="256" height="256" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:luminance"><path fill="#fff" d="M256 0H0v256h256V0z"/></mask><g mask="url(#prefix__a)"><path fill="#07F" d="M0 122.88C0 64.95 0 35.99 18 18 36 0 64.95 0 122.88 0h10.24C191.05 0 220.01 0 238 18c18 18 18 46.95 18 104.88v10.24c0 57.93 0 86.89-18 104.88-18 18-46.95 18-104.88 18h-10.24c-57.93 0-86.89 0-104.88-18C0 220 0 191.06 0 133.13v-10.24z"/><path fill="#fff" d="M136.21 184.43c-58.34 0-91.62-40-93.01-106.56h29.23c.96 48.85 22.5 69.54 39.57 73.81V77.87h27.52V120c16.85-1.81 34.56-21.01 40.53-42.13h27.52c-4.58 26.02-23.78 45.22-37.44 53.12 13.66 6.4 35.52 23.14 43.84 53.44h-30.29c-6.5-20.27-22.72-35.95-44.16-38.08v38.08h-3.3z"/></g></g><defs><clipPath id="prefix__a"><path fill="#fff" d="M0 0h256v256H0z"/></clipPath></defs></svg>`,
	whatsapp: `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 360 362"><path fill="#25D366" fill-rule="evenodd" d="M307.546 52.566C273.709 18.684 228.706.017 180.756 0 81.951 0 1.538 80.404 1.504 179.235c-.017 31.594 8.242 62.432 23.928 89.609L0 361.736l95.024-24.925c26.179 14.285 55.659 21.805 85.655 21.814h.077c98.788 0 179.21-80.413 179.244-179.244.017-47.898-18.608-92.926-52.454-126.807v-.008Zm-126.79 275.788h-.06c-26.73-.008-52.952-7.194-75.831-20.765l-5.44-3.231-56.391 14.791 15.05-54.981-3.542-5.638c-14.912-23.721-22.793-51.139-22.776-79.286.035-82.14 66.867-148.973 149.051-148.973 39.793.017 77.198 15.53 105.328 43.695 28.131 28.157 43.61 65.596 43.593 105.398-.035 82.149-66.867 148.982-148.982 148.982v.008Zm81.719-111.577c-4.478-2.243-26.497-13.073-30.606-14.568-4.108-1.496-7.09-2.243-10.073 2.243-2.982 4.487-11.568 14.577-14.181 17.559-2.613 2.991-5.226 3.361-9.704 1.117-4.477-2.243-18.908-6.97-36.02-22.226-13.313-11.878-22.304-26.54-24.916-31.027-2.613-4.486-.275-6.91 1.959-9.136 2.011-2.011 4.478-5.234 6.721-7.847 2.244-2.613 2.983-4.486 4.478-7.469 1.496-2.991.748-5.603-.369-7.847-1.118-2.243-10.073-24.289-13.812-33.253-3.636-8.732-7.331-7.546-10.073-7.692-2.613-.13-5.595-.155-8.586-.155-2.991 0-7.839 1.118-11.947 5.604-4.108 4.486-15.677 15.324-15.677 37.361s16.047 43.344 18.29 46.335c2.243 2.991 31.585 48.225 76.51 67.632 10.684 4.615 19.029 7.374 25.535 9.437 10.727 3.412 20.49 2.931 28.208 1.779 8.604-1.289 26.498-10.838 30.228-21.298 3.73-10.46 3.73-19.433 2.613-21.298-1.117-1.865-4.108-2.991-8.586-5.234l.008-.017Z" clip-rule="evenodd"/></svg>`,
	linkedin: `<svg width="256" height="256" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256"><path d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453" fill="#0A66C2"/></svg>`,
	x: `<svg xmlns="http://www.w3.org/2000/svg" width="1200" height="1227" fill="none" viewBox="0 0 1200 1227"><path fill="#000" d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z"/></svg>`,
	discord: `<svg viewBox="0 0 256 199" width="256" height="199" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="M216.856 16.597A208.502 208.502 0 0 0 164.042 0c-2.275 4.113-4.933 9.645-6.766 14.046-19.692-2.961-39.203-2.961-58.533 0-1.832-4.4-4.55-9.933-6.846-14.046a207.809 207.809 0 0 0-52.855 16.638C5.618 67.147-3.443 116.4 1.087 164.956c22.169 16.555 43.653 26.612 64.775 33.193A161.094 161.094 0 0 0 79.735 175.3a136.413 136.413 0 0 1-21.846-10.632 108.636 108.636 0 0 0 5.356-4.237c42.122 19.702 87.89 19.702 129.51 0a131.66 131.66 0 0 0 5.355 4.237 136.07 136.07 0 0 1-21.886 10.653c4.006 8.02 8.638 15.67 13.873 22.848 21.142-6.58 42.646-16.637 64.815-33.213 5.316-56.288-9.08-105.09-38.056-148.36ZM85.474 135.095c-12.645 0-23.015-11.805-23.015-26.18s10.149-26.2 23.015-26.2c12.867 0 23.236 11.804 23.015 26.2.02 14.375-10.148 26.18-23.015 26.18Zm85.051 0c-12.645 0-23.014-11.805-23.014-26.18s10.148-26.2 23.014-26.2c12.867 0 23.236 11.804 23.015 26.2 0 14.375-10.148 26.18-23.015 26.18Z" fill="#5865F2"/></svg>`,
	tiktok: `<svg xmlns="http://www.w3.org/2000/svg" id="Layer_2" viewBox="0 0 352.28 398.67"><defs><style>.cls-1{fill:#fe2c55}.cls-2{fill:#25f4ee}</style></defs><g id="Layer_1-2"><path d="M137.17 156.98v-15.56c-5.34-.73-10.76-1.18-16.29-1.18C54.23 140.24 0 194.47 0 261.13c0 40.9 20.43 77.09 51.61 98.97-20.12-21.6-32.46-50.53-32.46-82.31 0-65.7 52.69-119.28 118.03-120.81Z" class="cls-2"/><path d="M140.02 333c29.74 0 54-23.66 55.1-53.13l.11-263.2h48.08c-1-5.41-1.55-10.97-1.55-16.67h-65.67l-.11 263.2c-1.1 29.47-25.36 53.13-55.1 53.13-9.24 0-17.95-2.31-25.61-6.34C105.3 323.9 121.6 333 140.02 333ZM333.13 106V91.37c-18.34 0-35.43-5.45-49.76-14.8 12.76 14.65 30.09 25.22 49.76 29.43Z" class="cls-2"/><path d="M283.38 76.57c-13.98-16.05-22.47-37-22.47-59.91h-17.59c4.63 25.02 19.48 46.49 40.06 59.91ZM120.88 205.92c-30.44 0-55.21 24.77-55.21 55.21 0 21.2 12.03 39.62 29.6 48.86-6.55-9.08-10.45-20.18-10.45-32.2 0-30.44 24.77-55.21 55.21-55.21 5.68 0 11.13.94 16.29 2.55v-67.05c-5.34-.73-10.76-1.18-16.29-1.18-.96 0-1.9.05-2.85.07v51.49c-5.16-1.61-10.61-2.55-16.29-2.55Z" class="cls-1"/><path d="M333.13 106v51.04c-34.05 0-65.61-10.89-91.37-29.38v133.47c0 66.66-54.23 120.88-120.88 120.88-25.76 0-49.64-8.12-69.28-21.91 22.08 23.71 53.54 38.57 88.42 38.57 66.66 0 120.88-54.23 120.88-120.88V144.33c25.76 18.49 57.32 29.38 91.37 29.38v-65.68c-6.57 0-12.97-.71-19.14-2.03Z" class="cls-1"/><path d="M241.76 261.13V127.66c25.76 18.49 57.32 29.38 91.37 29.38V106c-19.67-4.21-37-14.77-49.76-29.43-20.58-13.42-35.43-34.88-40.06-59.91h-48.08l-.11 263.2c-1.1 29.47-25.36 53.13-55.1 53.13-18.42 0-34.72-9.1-44.75-23.01-17.57-9.25-29.6-27.67-29.6-48.86 0-30.44 24.77-55.21 55.21-55.21 5.68 0 11.13.94 16.29 2.55v-51.49C71.83 158.5 19.14 212.08 19.14 277.78c0 31.78 12.34 60.71 32.46 82.31C71.23 373.87 95.12 382 120.88 382c66.65 0 120.88-54.23 120.88-120.88Z"/></g></svg>`,
	dribbble: `<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" r="16" fill="#ffabe7"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3 15.9976C3 8.8228 8.81861 3 16 3C23.1819 3 29 8.82805 29 16.0024C29 23.1772 23.1814 29 16 29H14.9455V28.9531C8.2617 28.416 3 22.8178 3 15.9976ZM16.3233 26.8867C22.1898 26.7156 26.891 21.9051 26.891 16.0024C26.891 9.99097 22.0156 5.1086 16 5.1086C9.98391 5.1086 5.10898 9.98681 5.10898 15.9976C5.10898 22.0082 9.98834 26.8867 16 26.8867H16.3233Z" fill="#b8509a"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7367 6.4736C10.5922 6.42811 10.4423 6.38094 10.2861 6.32797L10.9637 4.33118C11.026 4.3523 11.1381 4.38804 11.2689 4.42976C11.504 4.50472 11.7997 4.599 11.9758 4.66251L11.9852 4.66592L11.9946 4.66951C12.0428 4.68793 12.0945 4.70746 12.1486 4.72794C12.4214 4.83111 12.758 4.9584 13.0391 5.08986L13.0516 5.0957L13.1073 5.12355C13.2396 5.18522 13.4382 5.2799 13.6037 5.35876C13.6966 5.40304 13.779 5.44232 13.8333 5.46798L13.8585 5.47985L13.883 5.49304C13.8887 5.49611 13.8954 5.49969 13.9029 5.50373C13.9599 5.53426 14.0662 5.59114 14.1682 5.65347L14.1962 5.67057L14.2041 5.67611C14.2156 5.68281 14.2314 5.69176 14.2509 5.7026C14.2679 5.71208 14.2843 5.72109 14.3007 5.7301C14.3039 5.73187 14.3071 5.73364 14.3103 5.73541C14.3193 5.74038 14.3296 5.74603 14.3388 5.75116L14.3395 5.75152C14.3441 5.75413 14.3561 5.76078 14.3698 5.76882C14.3823 5.77598 14.4014 5.78691 14.4254 5.8006C14.4987 5.84244 14.6172 5.91007 14.7273 5.9745C14.8406 6.04087 15.0136 6.1431 15.1416 6.23283C15.2787 6.31705 15.4295 6.42148 15.5299 6.49101C15.548 6.50354 15.5644 6.51493 15.5788 6.52487C15.656 6.57187 15.7316 6.62516 15.7842 6.66284C15.8594 6.71675 15.9413 6.77782 16.016 6.83397C16.0505 6.85991 16.082 6.88371 16.1118 6.9062C16.1514 6.93611 16.188 6.96372 16.2244 6.99099C16.2545 7.0135 16.2796 7.03205 16.2998 7.04675C16.3098 7.05402 16.3176 7.05959 16.3234 7.06371C16.3284 7.06724 16.3308 7.06883 16.3309 7.06892L16.3584 7.08723L16.3849 7.10738C17.5487 7.99395 18.5851 9.03555 19.4697 10.1964L19.4706 10.1975L19.4714 10.1986C20.4493 11.4888 21.2214 12.921 21.7569 14.4452C23.3523 18.9013 22.8831 24.0495 20.3756 28.1134L18.5807 27.0063C20.7416 23.5041 21.1577 19.0256 19.7704 15.1532L19.7692 15.15L19.7681 15.1468C19.3059 13.8303 18.6385 12.5911 17.7913 11.4731C17.0248 10.4675 16.1297 9.56695 15.128 8.80088C15.0726 8.76245 15.0112 8.71685 14.9609 8.67926C14.9229 8.65083 14.8782 8.61709 14.8341 8.58383C14.8045 8.5615 14.7752 8.53937 14.7484 8.51923C14.676 8.46479 14.6102 8.41586 14.5558 8.37683C14.5072 8.34206 14.487 8.32922 14.4872 8.32902C14.4872 8.32901 14.4873 8.32905 14.4874 8.32913L14.456 8.31148L14.4194 8.28665C14.3656 8.25009 14.3176 8.2169 14.2736 8.18647C14.1771 8.11967 14.0998 8.06619 14.0213 8.01962L13.97 7.98913L13.9224 7.95304C13.9254 7.95529 13.9251 7.95514 13.921 7.95236C13.9131 7.94715 13.8914 7.93273 13.8508 7.9075C13.7973 7.87429 13.7316 7.8351 13.6614 7.79401C13.5619 7.73573 13.4713 7.68402 13.3996 7.64312C13.3661 7.62403 13.3368 7.6073 13.3126 7.59336L13.3105 7.59211C13.3067 7.59004 13.3013 7.58703 13.2931 7.58252C13.2906 7.58112 13.2878 7.57961 13.2849 7.578C13.2686 7.56904 13.2469 7.55707 13.2247 7.54474C13.1988 7.53033 13.1674 7.51262 13.1368 7.49472C13.12 7.48492 13.0888 7.46656 13.0539 7.44389C13.011 7.4183 12.9649 7.39355 12.9101 7.36409C12.9092 7.36365 12.9084 7.36321 12.9076 7.36278C12.842 7.33172 12.7604 7.29279 12.6737 7.25146C12.5106 7.17371 12.3297 7.08746 12.2041 7.02905L12.1906 7.02276L12.1338 6.99439C11.9347 6.90208 11.6963 6.81171 11.4293 6.71048C11.3713 6.68848 11.3119 6.66596 11.2513 6.6428C11.0867 6.58373 10.9158 6.52995 10.7367 6.4736ZM13.3128 7.59342C13.314 7.59407 13.3145 7.59437 13.3145 7.59438ZM13.3128 7.59342C13.314 7.59407 13.3145 7.59437 13.3145 7.59438Z" fill="#b8509a"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.1774 11.4919C18.3601 10.9172 21.2971 9.13207 23.3058 6.59106L24.9603 7.89856C22.639 10.8351 19.2503 12.8992 15.5519 13.567L15.5517 13.567C13.7102 13.899 11.8181 13.9102 9.97124 13.5716C8.12939 13.2433 6.35208 12.5821 4.74463 11.6168L5.83052 9.8092C7.21568 10.641 8.75086 11.2125 10.3439 11.4962L10.3466 11.4967L10.3494 11.4972C11.9374 11.7886 13.5744 11.7809 15.1772 11.4919" fill="#b8509a"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.54309 26.6889C11.3436 17.5014 20.7066 12.4275 28.364 14.5146L27.8093 16.5489C21.3092 14.7773 13.1728 19.1338 11.6127 27.0943L9.54309 26.6889Z" fill="#b8509a"/></svg>`,
	facebook: `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 666.667 666.667"><defs><clipPath id="a" clipPathUnits="userSpaceOnUse"><path d="M0 700h700V0H0Z"/></clipPath></defs><g clip-path="url(#a)" transform="matrix(1.33333 0 0 -1.33333 -133.333 800)"><path d="M0 0c0 138.071-111.929 250-250 250S-500 138.071-500 0c0-117.245 80.715-215.622 189.606-242.638v166.242h-51.552V0h51.552v32.919c0 85.092 38.508 124.532 122.048 124.532 15.838 0 43.167-3.105 54.347-6.211V81.986c-5.901.621-16.149.932-28.882.932-40.993 0-56.832-15.528-56.832-55.9V0h81.659l-14.028-76.396h-67.631v-171.773C-95.927-233.218 0-127.818 0 0" style="fill:#0866ff;fill-opacity:1;fill-rule:nonzero;stroke:none" transform="translate(600 350)"/><path d="m0 0 14.029 76.396H-67.63v27.019c0 40.372 15.838 55.899 56.831 55.899 12.733 0 22.981-.31 28.882-.931v69.253c-11.18 3.106-38.509 6.212-54.347 6.212-83.539 0-122.048-39.441-122.048-124.533V76.396h-51.552V0h51.552v-166.242a250.559 250.559 0 0 1 60.394-7.362c10.254 0 20.358.632 30.288 1.831V0Z" style="fill:#fff;fill-opacity:1;fill-rule:nonzero;stroke:none" transform="translate(447.918 273.604)"/></g></svg>`,
};

const socialFallbackIcons: Partial<Record<IconName, string>> = {
	behance: "ri:behance-fill",
};

const socialByHost: Record<string, IconName> = {
	"t.me": "telegram",
	"telegram.me": "telegram",
	"telegram.org": "telegram",
	"github.com": "github",
	"instagram.com": "instagram",
	"youtube.com": "youtube",
	"youtu.be": "youtube",
	"vk.com": "vk",
	"vkontakte.ru": "vk",
	"wa.me": "whatsapp",
	"whatsapp.com": "whatsapp",
	"chat.whatsapp.com": "whatsapp",
	"linkedin.com": "linkedin",
	"x.com": "x",
	"twitter.com": "x",
	"discord.com": "discord",
	"discord.gg": "discord",
	"tiktok.com": "tiktok",
	"dribbble.com": "dribbble",
	"behance.net": "behance",
	"facebook.com": "facebook",
};

const baseLinkClass = "inline-flex items-center gap-1.5 align-baseline ";

const iconClass = "h-4 w-4 shrink-0 text-current opacity-80 [&_svg]:h-full [&_svg]:w-full";

const defaultView = (value: string): LinkView => ({
	label: rawText || value,
	ariaLabel: `Open link: ${value}`,
	ariaValue: value,
	icon: "mdi:link",
	isExternal: false,
	social: null,
});

const emailView = (value: string): LinkView => ({
	label: rawText || value.replace(/^mailto:/, ""),
	ariaLabel: `Send email: ${rawText || value.replace(/^mailto:/, "")}`,
	ariaValue: rawText || value.replace(/^mailto:/, ""),
	icon: "mdi:email-outline",
	isExternal: false,
	social: null,
});

const phoneView = (value: string): LinkView => ({
	label: rawText || value.replace(/^(tel:|sms:)/, ""),
	ariaLabel: value.startsWith("sms:")
		? `Send message: ${rawText || value.replace(/^sms:/, "")}`
		: `Call: ${rawText || value.replace(/^tel:/, "")}`,
	ariaValue: rawText || value.replace(/^(tel:|sms:)/, ""),
	icon: value.startsWith("sms:") ? "mdi:message-outline" : "mdi:phone-outline",
	isExternal: false,
	social: null,
});

const siteView = (value: string): LinkView => {
	try {
		const url = new URL(value, Astro.site);
		const hostname = url.hostname.replace(/^www\./, "");
		const social = socialByHost[hostname] ?? null;

		return {
			label: rawText || hostname,
			ariaLabel: `Open website: ${hostname}`,
			ariaValue: hostname,
			icon: "mdi:open-in-new",
			isExternal:
				["http:", "https:"].includes(url.protocol) && url.origin !== Astro.site?.origin,
			social,
		};
	} catch {
		const cleaned = value
			.replace(/^https?:\/\//, "")
			.replace(/^www\./, "")
			.replace(/\/$/, "")
			.split("/")[0];

		return defaultView(cleaned || value);
	}
};

const view = href.startsWith("mailto:")
	? emailView(href)
	: href.startsWith("tel:") || href.startsWith("sms:")
		? phoneView(href)
		: siteView(href);

const externalAttrs = view.isExternal
	? { target: "_blank", rel: "noopener noreferrer nofollow" }
	: {};

const socialSvg = view.social ? socialSvgs[view.social] : null;
const socialIcon = view.social ? socialFallbackIcons[view.social] : null;

---

<a
	href={href}
	class={cn(baseLinkClass, className)}
	aria-label={view.ariaLabel}
	{...externalAttrs}
>
	{socialSvg ? (
		<span class={iconClass} set:html={socialSvg} />
	) : socialIcon ? (
		<Icon name={socialIcon} class={iconClass} />
	) : (
		<Icon name={view.icon} class={iconClass} />
	)}

	<span>{view.label}</span>
</a>
